
<div class="info-box-who-we-are">
  <div class="row">
    <div class="large-12 columns">
      <div class="home-box-content large-12 columns">
        <h2 class="intro-title-2">
          WHO WE ARE
        </h2>
        <p class"sub-title-2">
          Consider this a face book of agile, flexible web development and beautiful, elegant design. Whether you're researching us or want to know who is coding your software or designing your interface, click on any of the profiles below to learn more about each of our Bendyworkers.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="people">
  <div class="row">
    <ul class="large-block-grid-3">
      <li>
        <div class="people_picture">
          <%= render 'partials/people_overlay' %>
          <img src="http://lorempixel.com/300/300/people" class="">
        </div>
        <h2>
          Kelly Rauwerdink</h2>
        <h4>Chief Wildcard</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
         </div>
        <h2>Chris Wilson</h2>
        <h4>Mathamagician</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
         </div>
         <h2>Gynnis Ritchie</h2>
        <h4>Issue Monster</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
        </div>
        <h2>Matt Gauger</h2>
        <h4>Robot Master</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
         </div>
         <h2>Brad Grzesiak</h2>
        <h4>Boss level 6</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
        </div>
        <h2>Josh Hoff</h2>
        <h4>Beacon of White Hope</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
       </div>
        <h2>Joe Nelson</h2>
        <h4>Master of the Paralell Universe</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
        </div>
        <h2>
          Stephen Anderson</h2>
        <h4>Boss level 12</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
     </div>
        <h2>Mic Funk</h2>
        <h4>Brought the Funk</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
     </div>
        <h2>Amy Unger</h2>
        <h4>Book Wrangler</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
         </div>
         <h2>Devin Walters</h2>
        <h4>Guitar Tuner</h4>
      </li>
      <li>
        <div class="people_picture">
          <%= render 'partials/people_overlay' %>
          <img src="http://lorempixel.com/300/300/people" class="people_image">
        </div>
        <h2>Lisa Boren</h2>
        <h4>Bean Counter</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
        <img src="http://lorempixel.com/300/300/people" class="people_image">
         </div>
        <h2>Ian Cordasco</h2>
        <h4>Nerd King of Pythonia</h4>
      </li>
      <li>
        <div class="people_picture">
        <%= render 'partials/people_overlay' %>
         <img src="http://lorempixel.com/300/300/people" class="people_image">
      </div>
      <h2>YOU!</h2>
      <h4>We're Always Hiring Talented and Interesting People</h4>
    </li>

  </div>
</div>



