<%= render 'partials/header' %>
<div class="padder">
<%= render 'partials/blog_header' %>
  <div class="blog-deep-body pad">
    <div class="row">
      <div class="large-4 columns">
        <div class="post_meta align-center">
          <img src="http://lorempixel.com/200/200/people" class="fifty-radius">
          <ul class="pad">
            <li><h5>Posted By</h5> <h3>Chris Wilson</h3></li>
            <li>Sep 30, 2013</li>
            <li>Labs, news, articles, people</li>
          </ul>
          <a href="#" class="small button">Share This Post</a>
        </div>
      </div>
      <div class="entry large-8 columns">
        <%= render 'partials/blog_content' %>
      </div>
    </div>
  </div>
<div class="full-width light-gray">
   <div class="row pad">
    <h2 class="intro-title">
      Featured Posts
    </h2>
    <%= render 'partials/featured_posts' %>
  </div>
</div>
</div>


<%= render 'partials/footer' %>